/* CSS Document */

body {
    margin: 60px auto;
    width: 80%;
    background: #202148;
    color: #F6F8E5;
}
h1 {
    font-size: 4.5vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

h2 {
    font-size: 4vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

h3 {
    font-size: 3.5vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;    
}

h4 {
    font-size: 3vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;    
}

h5 {
    font-size: 2.5vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;    
}

h6 {
    font-size: 2vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;    
}

p {
    font-size: 1.5vw;
    line-height: 1.4vw;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

[href] {
    color: #F6F8E5;
}
[href]:hover {
    text-decoration: #DF3644;
    color: #DF3644;
}
[href *= 'about']:hover {
    text-decoration: underline solid #4452A3;
    color: #4452A3;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.title {
    font-size: 3vw;
    font-family: 'Times New Roman', 'Arial', 'Sans-Serif';
    text-align: center;
    color: #F6F8E5;
    margin: 5px auto 10px;
    font-weight: bold;
}

.subtitle {
    font-size: 2.5vw;
    font-family: 'Times New Roman', 'Arial', 'Sans-Serif';
    text-align: center;
    color: #F6F8E5;
    margin: 5px auto 10px;
    font-weight: bold;
}
.header {
  font-size: 0;
  text-align: center;
  width: 100%;  /* Container's dimensions */
  height: auto;
}

.trick {
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.intro {
    font-family: 'Times New Roman', 'Arial', 'Sans-Serif';
    text-align: left;
    color: #F7D46C;
    margin: 5px auto 10px;
    font-weight: bold;
}

.navigation {
    font-family: 'Times New Roman', 'Arial', 'Sans-Serif';
    float: center;	
	background: #262755;
    font-weight: bold;
    height:140px;
    color: #F6F8E5;
	display:flex;
}

.navli{
	flex:90%;
	font-size:1.5vw;
	display:inline;
	margin-left:6.4vw;
	margin-right:2vw;
}
.navimgl {
    float: left;
    max-height:100%;
    max-width:100%;
	flex:2%;
}

.navimgr {
	float:right;
    max-height:100%;
    max-width:100%;
	flex:2%;
}
.main {
	background: #262755;

}
.pager {
    max-height:100%;
    max-width:100%;
	float:right;	
	margin-top:13.7vw;
}
.pagel {
    max-height:100%;
    max-width:100%;
	float:left;
	margin-top:13.7vw;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}
.columnnav {
  flex: 80%;
  float:center;
}
.columnimg {
  flex: 20%;
}
.band {
	flex:1%;
	background:#202148;
	margin-left:10px;
	margin-right:10px;
}
